<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ya.sample" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name=".Sample3"
        android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="ya.sample.09_Sample3.CLICK" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
            android:resource="@xml/appwidget" />
        </receiver>
    </application>

</manifest>
